<!DOCTYPE html>
<html lang="en">
<head>
  <title>The Challenge - Universal Avenue</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <style>
    .select2{
        width: 120px;
    }
  </style>
</head>
<body>

    <div class="container">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a href="/" class="navbar-brand">The Challenge</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li>
                <%= link_to "Bounds", bounds_path -%>
              </li>
              <li>
                <%= link_to "Reverse Geocoding", reverse_geocoding_path -%>
              </li>
              <li>
                <%= link_to "Geokit Rails", venues_path -%>
              </li>
            </ul>
          </div>

        </div>
      </nav>
        <%= yield %>
    </div>

</body>
</html>
